* {
    margin: 0;
    padding: 0;
}

.body {
    position: relative;
}

.navigation-bar ul {
    list-style-type: none;
    text-align: right;
    background-color: #123524;
    overflow: hidden;
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: 5;
    width: 100%;
}

.nav-icon {
    text-decoration: none;
    float: left;
    color: #d4d6cf;
    padding: 18px 20px;
    font-weight: bold;
}

.navigation-bar ul li a {
    text-decoration: none;
    display: block;
    color: #d4d6cf;
    padding: 18px 20px;
}

.navigation-bar li {
    display: inline-block;
}

.navigation-bar ul li a:hover {
    background-color: #d4d6cf;
    color: #123524;
}

/* filter */

.filter-container {
    display: flex;
    margin-bottom: 20px;
    padding-top: 80px;
}

.filter-categories {
    display: flex;
    justify-self: center;
    background: white;
    margin: auto;
}

select {
    min-inline-size: 14ch;
    font-size: smaller;
    color: #013a20;

    &,
    &::picker(select) {
        appearance: base-select;
        padding: 0.5rem;
        border: none;
        background-color: #d4d6cf;
    }

    &::picker(select) {
        margin-block-start: 0.5rem;
        border-radius: 0.5rem;
    }
}

option {
    padding-right: 1rem;
    padding-left: 0.5rem;
}

select:hover {
    background-color: #a5ae90;
    cursor: pointer;
}

.filterbtn {
    font: inherit;
    background-color: #d4d6cf;
    color: #013a20;
    border: none;
    border-radius: 0.4rem;
    padding: 0.5rem;
    font-size: smaller;
}

.filterbtn:hover {
    background-color: #a5ae90;
    cursor: pointer;
}

.errorMessage {
    text-align: center;
    font-size: smaller;
    color: red;
    margin: 20px auto;
}

/* main content filtered page*/

.post-container {
    text-align: center;
    align-items: center;
    min-height: 500px;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.blog-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    height: auto;
    background-color: #ffecc3;
    justify-content: flex-start;
    margin: 25px auto;
    padding-bottom: 20px;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.15),
        0 6px 15px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.filter-select {
    display: flex;
}
.blog-listing-content {
    display: flex;
    justify-content: center;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
}

.blog-body {
    padding: 1.5em;
    font-size: 1.2em;
    color: black;
    background-color: #ffffff;
    width: 60vw;
    height: auto;
}

.blog-card-header {
    display: flex;
    justify-content: space-between;
    width: 60vw;
    align-items: center;
    padding: 1em;
    font-size: 1.2em;
    color: black;
}

.blog-text {
    border: solid rgba(128, 128, 128, 0.5);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}

.post-category-container {
    margin: 20px auto;
    justify-content: center;
}

.post-category {
    background-color: #123524;
    border: none;
    color: #d4d6cf;
    padding: 0.3em 1em;
    width: auto;
    font-size: smaller;
    display: inline-block;
    height: fit-content;
    margin: 3px 0px;
}

/* home  */

.home-container {
    background-image: url("../img/home.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 80vh;
}

.home-overlay {
    padding-top: 40px;
    z-index: -1;
}

.home-message {
    background-color: #d4d6cfc5;
    padding: 2rem 0;
    text-align: center;
    font-size: 1.5rem;
}

.sub {
    font-size: 1.3rem;
    padding-top: 0.3rem;
}

.likes {
    display: flex;
    justify-content: flex-start;
    padding: 1.5em;
    font-size: 1.2em;
    color: black;
    margin: 0;
    width: 85%;
}

.footer {
    text-align: center;
    align-items: center;
    background-color: #123524;
    color: #d4d6cf;
    padding: 25px;
}
