.body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.categories {
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    background-color: #ffffff;
    z-index: 1000;
}
.category-toggle-button {
    display: flex;
    align-items: center;
    background-color: #75ad6f;
    border: none;
    color: white;
    padding: 1em 2em;
    cursor: pointer;
    margin: 1vh;
    text-size-adjust: auto;
    font-size: 1em;
}

.post-category {
    justify-content: center;
    align-items: center;
    background-color: #75ad6f;
    border: none;
    color: white;
    padding: 0.5em 2em;
    width: auto;
    margin: 0.5vh;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.category-toggle-button.active {
    background-color: #63935e;
    color: white;
    border: none;
}

.blog-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1vh;
    width: 70vw;
    height: auto;
    background-color: #ffecc3;
    justify-content: flex-start;
    margin-top: 7vh;
}

.blog-listing-content {
    display: flex;
    justify-content: center;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
}
.side-buttons {
    position: fixed;
    top: 80%;
    right: 3vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.blog-body {
    padding: 1.5em;
    font-size: 1.2em;
    color: black;
    background-color: #ffffff;
    width: 60vw;
    height: auto;
}

.side-button {
    background-color: #ff7e1c;
    width: 7vw;
    height: 7vh;
    border: none;
    color: white;
    padding: 1em 1em;
    cursor: pointer;
}
.blog-card-header {
    display: flex;
    justify-content: space-between;
    width: 60vw;
    align-items: center;
    padding: 1em;
    font-size: 1.5em;
    color: black;
}
.likes {
    display: flex;
    justify-content: flex-start;
    padding: 1.5em;
    font-size: 1.5em;
    color: black;
    margin: 0;
    width: 85%;
}
