* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e3e3e3;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}

.btn {
    padding: 5px 10px;
    font-family: inherit;
    cursor: pointer;
    border: 0;
    background-color: rgb(226, 226, 226);
    border-radius: 10%;
}
.btn:hover {
    background-color: rgb(204, 203, 203);
}

.container {
    background-color: rgba(255, 255, 255, 0.911);
    width: 60%;
    height: 75vh;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.left-box {
    float: left;
    width: 45%;
    height: inherit;
    background-image: url("../../img/Login.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    color: rgb(85, 85, 85);
    background-color: lightblue;
}

.left-box h1 {
    text-align: left;
    margin-top: 35px;
    padding-left: 25px;
    font-family: "Ubuntu", sans-serif;
    font-style: italic;
    font-weight: 700;
    color: black;
}

p {
    margin-bottom: 10px;
    font-size: 0.8rem;
}

.right-box {
    float: right;
    width: 55%;
    height: inherit;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-box-container {
    align-items: center;
    width: 70%;
}
.login-form {
    margin-top: 25px;
    margin-bottom: 25px;
}

.form-elements {
    margin: auto;
}

.form-elements input {
    margin-bottom: 10px;
    padding: 3px;
    width: 60%;
}
.form-elements select {
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 3px;
    width: 63%;
    color: grey;
}

.form-elements label {
    font-size: smaller;
    color: rgb(118, 118, 118);
}

.message {
    color: blue;
    font-size: small;
    margin-top: 5px;
}

.errorMessage {
    color: red;
    font-size: small;
    list-style-type: none;
}

.registerbtn {
    font-size: 0.7rem;
    margin-bottom: 15px;
}

.request h6 {
    width: 80%;
    text-align: left;
    color: darkgrey;
    margin: 10px auto 15px auto;
}

.request button {
    margin-bottom: 15px;
    font-size: 0.8rem;
}
